/*
-------------------------------------------------------------------------------------------------------
components
-------------------------------------------------------------------------------------------------------
*/

a{
    text-decoration: none;
}

.temporary{
    width: 100%;
    height: 5000px;
}

/* basis */

header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 5000px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
}


/* splitters & compressors */
.rowsplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rowalternatesplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.columnsplitter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.columnalternatesplitter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.rowcompressor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.columncompressor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.airsplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* text variants */
.title{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.titlealternate{
    display: flex;
    color: #37424D;
    font-family: 'Montserrat', system-ui;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.text{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.textalternate{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* boxes */
.buttonbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttoncube{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 50%;
}

.imagealternate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100px;
}

.imagetext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100px;
}

.poster{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 200%;
}

/* colors */

.pink{
    color:#FFB4D3;
}

.maroon{
    color:#FF9E9E;
}

.orange{
    color:#FFC24C;
}

.cyan{
    color:#77E6FF;
}

.lightblue{
    color:#23C9DE;
}

.purple{
    color:#D387F7;
}

.black{
    color:#10151A;
}

/*
-------------------------------------------------------------------------------------------------------
structure
-------------------------------------------------------------------------------------------------------
*/

/* headspace */
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dfdfdf;
    width: 100%;
    height: 200px;
}

.head .black{
    color: #ffffff;
    background-color: #ffffff;
}

.head .rowsplitter{
    height: 100px;
    width: 100%;
}

.head .airsplitter{
    height: 100px;
    width: 35%;
}

.head .rowalternatesplitter{
    height: 100px;
    width: 30%;  
}

.head .rowcompressor{
    width: 20%;
}

.head .title{
    margin-right: 8px;
    font-size: 35px;
}

.head .titlealternate{
    font-size: 35px;
}

.head .text{
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    color: #3f2e56;
    text-decoration: none
}

.head .buttonbox{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 50px;
    border-style: solid;
    border-color: #3f2e56;
    border-width: 3px;
    cursor: pointer;
}

.head .buttonbox .text{
    font-weight: 900;
}

.head .poster{
    height: 30px;
    width: 200px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: hsl(266, 30%, 26%);
    border-width: 2px;
    cursor: pointer;
}

.head .poster:hover{
    border-color: #10151A;
    border-width: 3px;
}
.head .poster:hover .text{
    color: #10151A;
    font-weight: 600;
}

.head .buttoncube{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 50px;
    border-style: solid;
    border-color: #3f2e56;
    border-width: 3px;
    cursor: pointer;
}

.head .image {
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 50px;
}

.head .imagealternate {
    height: 30px;
    width: 30px;
}



/* footspace */
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6e6eb4;
    width: 100%;
    height: 500px;
}

.foot .text{
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none
}

.foot .rowsplitter{
    width: 100%;
}

.foot .columnsplitter{
    height: 300px;
    width: 30%;
}

.foot .columnalternatesplitter{
    height: 300px;
    width: 30%;
    border-radius: 25px;
    border-style: dashed;
    border-color: #98D3EA;
    border-width: 3px;
}

.foot .airsplitter{
    height: 100px;
    width: 100%;
}

.foot .poster{
    height: 125px;
    width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
    background-color: #98D3EA;
    position: relative;
    bottom: 75px;
    left: 40px;
}

.foot .buttonbox{
    height: 50px;
    width: 350px;
    border-radius: 25px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    cursor: pointer;
}

.foot .buttoncube{
    height: 100px;
    width: 300px;
    border-radius: 25px;
    margin-bottom: 25px;
    border-style: dashed;
    border-color: #98D3EA;
    border-width: 3px;
    background-color: #6e6eb4 ;
}

.foot .buttonbox .text{
    font-weight: 900;
}

.foot .buttoncube .text{
    font-weight: 600;
}

.foot .image{
    height: 300px;
    width: 300px;
    border-radius: 25px;
    border-style: dashed;
    border-width: 3px;
    border-color: #98D3EA;
}

.foot .imagealternate{
    height: 100px;
    width: 300px;
}
