/*
-------------------------------------------------------------------------------------------------------
components
-------------------------------------------------------------------------------------------------------
*/

/* body */

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    height: 3000px;
    width: 100%;
}

/* splitters & compressors */
.rowsplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.rowalternatesplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.columnsplitter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.columnalternatesplitter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.rowcompressor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.columncompressor{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.airsplitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* text variants */
.title{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.titlealternate{
    display: flex;
    color: #37424D;
    font-family: 'Montserrat', system-ui;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.text{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.textalternate{
    display: flex;
    color: #FFFFFF;
    font-family: 'Montserrat', system-ui;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* boxes */
.buttonbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttoncube{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 50%;
}

.imagealternate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100px;
}

.imagetext{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100px;
}

.poster{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 200%;
}

/* colors */

.pink{
    color:#FFB4D3;
}

.maroon{
    color:#FF9E9E;
}

.orange{
    color:#FFC24C;
}

.cyan{
    color:#77E6FF;
}

.lightblue{
    color:#23C9DE;
}

.purple{
    color:#D387F7;
}

.black{
    color:#10151A;
}

/*
-------------------------------------------------------------------------------------------------------
structure
-------------------------------------------------------------------------------------------------------
*/

/* headspace */
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #10151A;
    width: 100%;
    height: 100px;
}

.head .rowsplitter{
    height: 100px;
    width:30%;
}

.head .airplitter{
    height: 100px;
    width: 20%;
}

.head .rowalternatesplitter{
    height: 100px;
    width: 30%;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    
}

.head .title{
    margin-right: 8px;
    font-size: 35px;
}

.head .titlealternate{
    font-size: 35px;
}

.head .text{
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

.head .buttonbox{
    height: 44px;
    width: 92px;
    background-color: #2A3744;
    border-radius: 7px;
}